body{
    background-color:burlywood;
  margin: 20px 20px 20px 20px;
  }

.Mytext{

text-align: center;
font-family: 'Acme', sans-serif;
color: white;

}

.MyButton{
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin-left: 20%;
}

.MyButton2{
  text-align: center;
  font-family: 'Acme', sans-serif;
  margin-left: 20%;
}

#main{
    display: flex;
    margin-top: 60px;
    margin-left: 60px;
}

#MyImage{
    margin:auto;
    width: 415px;
    height: 515px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;  
    border:4px solid rgb(0, 0, 0);
  }

.MyButton{
    font-size: 18px;
    display:inline-block;
    background-color:white;
    color: black;

}

.MyButton2{
  font-size: 18px;
  display:inline-block;
  background-color:white;
  color: black;

}


.MyButton:hover {
    background-color:red; 
    font-weight: 400;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .MyButton2:hover {
    background-color:red; 
    font-weight: 400;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;
  }
 
  #desc{
    font-family: 'Acme', sans-serif;
    color:white;
    margin-top: 50px;
  }

  #L1{
    font-family: 'Acme', sans-serif;
    color:white;
    margin-top: 50px;
  }

  #Info{
    font-family: 'Acme', sans-serif;
    display:inline-flex;
    background-color: white;
  }

  #Honesty{
      max-width: 50%;
      margin: auto;
  }

  #BasicInfo{
      margin-right: 300px;
      background-color: white;

  }

#Portfolio {

    width:400px;
    height:500px;
    border:4px solid rgb(0, 0, 0);
    padding:10px 40px;
    background: rgba(0, 55, 255, 0.797);;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;     
   }

   .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    display: flex;
    text-align: center;
    background: rgba(0, 55, 255, 0.797);
  }

  .row{
    margin: auto;
    font-family: 'Acme', sans-serif;
  }

  .title{
    font-family: 'Acme', sans-serif;
    text-align: center;
  }

#SPA{
  width: 30%;
  height: 250px;
  background-color: white;
} 

#SenecaImg{
    width: 30%;
    height: 250px;
  }